
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ProjeLayout.cshtml";
}

<body>
    <div class="container-fluid" style="margin-left:500px;">
        <main class="tm-main">
            <!-- Search form -->
            
            <div class="row tm-row tm-mb-45">
                <div class="col-12">
                    <hr class="tm-hr-primary tm-mb-55">
                    <img src="https://images.deliveryhero.io/image/fd-tr/LH/yaqx-hero.jpg" alt="Image" class="img-fluid">
                </div>
            </div>
            <div class="row tm-row tm-mb-40">
                <div class="col-12">
                    <div class="mb-4">
                        <h2 class="pt-2 tm-mb-40 tm-color-primary tm-post-title">Hakkımızda</h2>
                        <p>
                            Mes Meal Yemek Tarifleri 2023 yılından beri özgün içeriği ve detaylı tarif anlatımlarıyla yayınına devam etmektedir.

                            Şu anda nefisyemektarifleri.com internet sitesi, Android, iOS, iPad ve AndroidTV uygulamalarıyla olabilecek her yerden
                            ulaşabileceğiniz şeklide 700bin’den fazla tarifi kullanıcılarına ulaştırmaktadır.

                            Mis Meal Yemek Tarifleri’nin en büyük farkı
                            tamamen gerçek kullanıcılar tarafından yapılmış tariflerin yayınlanmasıdır. 
                            Böylece tarifleri yapacak kişiler gönül rahatlığıyla sitemizdeki tarifleri yapabilmekte ve başarılı sonuçlar almaktadır.
                        </p>
                        <p>
                            Oluşturduğunuz tarif defterleri ile artık fiziksel defter tutmanıza gerek kalmamakta.

                            Ayrıca tariflerde yorumlar, tarifi deneyen diğer kullanıcıların fotoğrafları ilgili tarifin yapıldığında neye benzeyeceği konusunda çok detaylı bir şekilde bilgi vermektedir.

                            Bu platformun büyümesinde katkısı olan başta yazarlarımız olmak üzere tüm kullanıcılarımıza teşekkürler.

                            Afiyet olsun&#128515;
                        </p>
                    </div>
                </div>
            </div>
@*            <div class="row tm-row tm-mb-120">
                <div class="col-lg-4 tm-about-col">
                    <div class="tm-bg-gray tm-about-pad">
                        <div class="text-center tm-mt-40 tm-mb-60">
                            <i class="fas fa-bezier-curve fa-4x tm-color-primary"></i>
                        </div>
                        <h2 class="mb-3 tm-color-primary tm-post-title">Background</h2>
                        <p class="mb-0 tm-line-height-short">
                            Phasellus pulvinar nisl ornare leo porttitor, et vestibulum lorem semper.
                            Duis risus ex, molestie sit amet magna in,
                            pharetra pellentesque est. Curabitur elit metus.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 tm-about-col">
                    <div class="tm-bg-gray tm-about-pad">
                        <div class="text-center tm-mt-40 tm-mb-60">
                            <i class="fas fa-users-cog fa-4x tm-color-primary"></i>
                        </div>
                        <h2 class="mb-3 tm-color-primary tm-post-title">Teamwork</h2>
                        <p class="mb-0 tm-line-height-short">
                            Suspendisse ullamcorper, mi vel molestie ornare, arcu magna euismod ipsum, in malesuada nulla magna ut enim.
                            Morbi lacinia magna sed auctor, vitae nunc cursus.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 tm-about-col">
                    <div class="tm-bg-gray tm-about-pad">
                        <div class="text-center tm-mt-40 tm-mb-60">
                            <i class="fab fa-creative-commons-sampling fa-4x tm-color-primary"></i>
                        </div>
                        <h2 class="mb-3 tm-color-primary tm-post-title">Our Core Value</h2>
                        <p class="mb-0 tm-line-height-short">
                            Nunc mi ante, suscipit vel dapibus et, volutpat sit amet ante. In tempor nec sem vitae varius. Aliquam tincidunt orci sem, et imperdiet massa consectetur nec.
                        </p>
                    </div>
                </div>
            </div>
*@            
</body>

