@model PasswordChangeViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PasswordChange</title>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/templatemo-script.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xtra Blog</title>
    <link rel="stylesheet" href="/fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/templatemo-xtra-blog.css" rel="stylesheet">
    <script src="/js/jquery.min.js/web"></script>
    <script src="/js/responsiveslides.min.js"></script>
</head>
<body>
    <div style="margin:50px 1000px 0px 1000px;">
        <h2>Şifre Değiştir</h2>
        @if(ViewBag.err != null)
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.err
            </div>
        }
        @if (ViewBag.ok != null)
        {
            <div class="alert alert-success" role="alert">
                @ViewBag.ok
            </div>
        }
        <form class="pt-3" asp-action="PasswordChange" asp-controller="Oturum" method="post">
            <div class="form-group">
                <label for="OldPassword">Eski Şifre</label>
                <input type="password" asp-for="OldPassword" class="form-control form-control-lg" />
                <span class="text-danger" asp-validation-for="OldPassword"></span>
            </div>
            <div class="form-group">
                <label for="NewPassword">Yeni Şifre</label>
                <input type="password" asp-for="NewPassword" class="form-control form-control-lg" />
                <span class="text-danger" asp-validation-for="NewPassword"></span>
            </div>
            <div class="form-group">
                <label for="ConfirmNewPassword">Yeni Şifre Tekrar</label>
                <input type="password" asp-for="ConfirmNewPassword" class="form-control form-control-lg" />
                <span class="text-danger" asp-validation-for="ConfirmNewPassword"></span>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Değiştir</button>
                <a href="/Oturum/Profil" class="btn btn-primary" style="margin-left:179px">Bilgilerime Dön</a>
            </div>
            <div>
            </div>
        </form>
    </div>
</body>
</html>
